<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <title>@this.ViewData["Title"]</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="index,follow">
        <meta name="copyright" content="Renet Consulting, Inc.">
        <meta name="googlebot" content="noarchive" />
        <meta name="revisit-after" content="3 days">

        <meta name="msapplication-square70x70logo" content="~/icons/small.jpg" />
        <meta name="msapplication-square150x150logo" content="~/icons/medium.jpg" />
        <meta name="msapplication-wide310x150logo" content="~/icons/wide.jpg" />
        <meta name="msapplication-square310x310logo" content="~/icons/large.jpg" />
        <meta name="msapplication-TileColor" content="#ffffff" /> 

		<link rel="icon" type="image/ico" href="~/favicon.ico" sizes="32x32" />
		<link rel="icon" type="image/png" href="~/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="~/icons/favicon-32x32.png" sizes="32x32">
		<link rel="manifest" href="~/icons/manifest.json">
		<link rel="apple-touch-icon" sizes="57x57" href="~/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="~/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="~/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="~/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="~/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="~/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="~/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="~/icons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="~/icons/apple-touch-icon-180x180.png">
		<link rel="mask-icon" href="~/icons/safari-pinned-tab.svg" color="#017ad3">
		<meta name="msapplication-TileColor" content="#474747">
		<meta name="msapplication-config" content="~/icons/browserconfig.xml" />

        @* List of prefetch components (up to 10) *@
        <link href="dist/Client/app/images/web_application.png" rel="prefetch">

        <link rel="alternate" href="~/en" hreflang="en" />


        @* Put links only at the body (that css will not block site`s rendering) *@

        @this.Html.Raw(this.ViewData["Meta"])
        @this.Html.Raw(this.ViewData["Links"])
        @this.Html.Raw(this.ViewData["Styles"])

    </head>
    <body>
        @* google font *@
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="dns-prefetch">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="dns-prefetch">

        <link rel="stylesheet" href="~/dist/base-styles.css" asp-append-version="true">
        <link rel="stylesheet" href="~/dist/main-styles.css" asp-append-version="true">
		

        @this.RenderBody()

        @* Here we're passing down any data to be used by grabbed and parsed by Angular *@
        @this.Html.Raw(this.ViewData["TransferData"])

        @this.RenderSection("scripts", required: false)
        <!-- Version: @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion -->
    </body>
</html>