<!DOCTYPE html>
<html>
<head>
	<base href="/" />
	<title>@ViewData["Title"]</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@Html.Raw(ViewData["Meta"])
	@Html.Raw(ViewData["Links"])
	@Html.Raw(ViewData["Styles"])
</head>
<body>
	<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/dist/main-styles.css" asp-append-version="true" />
	@RenderBody()

	<!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
	@Html.Raw(ViewData["TransferData"])

	@RenderSection("scripts", required: false)
</body>
</html>